span{
    background-color: yellow;

}

    img{
        width: 100px;

    }
    #A1{border: 5px spx solid blue;
    
    }
    #A2{
        border: 5px spx solid red;
    }
     .xx{

        text-decoration: underline;
    }
    h1, strong #A3{

        background-color: blue;
    }